<h1>Login</h1>
<a href='/api/authentication/spotify'>Connect to Spotify</a>
<a href='/api/authentication/twitter'>Connect to Twitter</a>
<a href='' class='twitch'>Connect with twitch</a>
<a href='/api/authentication/auth0'>Connect with Auth0</a>
<a href='' title='Connect with Auth0 using implicit flow with form post' class='auth0'>Connect with Auth0</a>

<script>
  const randomString = {
    generate: (length) => {
      const characters =
        'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      return randomString._generateString(length, characters);
    },

    generateCrypto: (length) => {
      const charset =
        '0123456789ABCDEFGHIJKLMNOPQRSTUVXYZabcdefghijklmnopqrstuvwxyz+/';
      const randomValues = new Uint8Array(length);
      window.crypto.getRandomValues(randomValues);

      return Array.from(randomValues)
        .map((value) => charset[value % charset.length])
        .join('');
    },

    _generateString: (length, characters) => {
      let result = '';
      const charactersLength = characters.length;

      for (let i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }

      return result;
    }
  }

  const authenticationStateRetriever = (key = 'state', isCryptographically = false) => {
    let value = sessionStorage.getItem(key)
    if (!value) {
      // value = Math.random().toString(36).substring(7)
      value = isCryptographically
        ? randomString.generateCrypto(16)
        : randomString.generate(16)
      sessionStorage.setItem(key, value)
    }
    return value
  }

  (()=>{
    const twitchScopes = [
      'user:read:email',
      'user:read:follows',
    ]
    const parameters = {
      response_type: 'token',
      client_id: "<%= TWITCH_CLIENT_ID %>",
      redirect_uri: "<%= TWITCH_REDIRECT_URI %>",
      scope: twitchScopes.join(' '),
      state: authenticationStateRetriever('twitch_state'),
    }
    const queryParams = new URLSearchParams(parameters).toString()
    const url = new URL(`<%= TWITCH_AUTHORIZATION_URL %>?${queryParams}`)
    document.querySelector('.twitch')?.setAttribute('href', url)
  })();
  (()=>{
    const scopes = ['openid', 'email', 'read:sample'];
    const state = authenticationStateRetriever('auth0_state')
    // for the nonce, para el momento presente
    // nonce, un valor que se usa solo una vez
    const nonce = authenticationStateRetriever('auth0_nonce', true)
    const parameters = {
      response_type: 'id_token token',
      response_mode: 'form_post',
      client_id: "<%= AUTH0_CLIENT_ID %>",
      redirect_uri: "<%= AUTH0_REDIRECT_URI %>",
      scope: scopes.join(' '),
      state,
      nonce,
    }
    const queryParams = new URLSearchParams(parameters).toString()
    const url = new URL(`<%= AUTH0_AUTHORIZATION_URL %>?${queryParams}`)
    document.querySelector('.auth0')?.setAttribute('href', url)
  })();
</script>
