<h1>Home Twitter</h1>
<strong><%= me.name %></strong>
<p>@<%= me.username %></p>
<img src="<%= me.profile_image_url %>" alt="<%= me.name %>" />

<article>
  <h2>Latest Tweets</h2>
  <ul>
    <% tweets.forEach((tweet) => { %>
      <li>
        <p><%= tweet.text %></p>
      </li>
    <% }) %>
  </ul>
</article>
